body {font-family:Georgia, 'Times New Roman', Times, serif;}
h1, h2{color: #8eb3e0;}
nav {background-color: #feedee;
    padding: #d7cced;
    border:2px solid #6f6969;
    margin-bottom: 30px}
nav a {background-color: #eed8f4;}
nav a:hover {background-color: #C2E8ED;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.2em;}
