body {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
h1{color: #33455a;
    font-size: 2em;
    text-align: center;
margin-top: 40px;}
nav {font-size: 1.1em;
    background-color: #827fb4;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;}
nav a{color: #fbfbfb; text-decoration: none;}
nav a:hover {background-color: #daf7f8; color:#7976b6}

.bigtitle {
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-size:xx-large;
    font-style: normal;}

.first {display: flex;
        align-items: center;
        justify-content: center;}
      
.first img {max-width: 600px;
        height: 500px;
        object-fit: contain;
        margin: 0 10px;}

.row1 {display: flex;
    align-items: center;
    margin: 110px;
    background-color: #f0f0f0; /* Add background color to the .row1 container */
    padding: 20px; /* Add some padding to the container */
    border-radius: 8px; /* Add some rounded corners to the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
.locationtw {
    margin-right: 30px;}
.locationtw img {
    max-width: 500px}
.text1 {flex-grow: 1;
    align-items: center;
        margin: 0;}
.text1 p {margin: 0;
    background-color: white; /* Add background color to the individual boxes */
    padding: 10px; /* Add some padding to the individual boxes */
    border-radius: 8px; /* Add some rounded corners to the boxes */
    box-shadow: 0 2px 4px #0000001a;}


.firstrow, .secondrow {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 500px; 
    margin: auto;}
.one, .two{
    max-width: 70%; 
    height: auto;}
.secondrow img {
    max-width: 130%; 
    height: auto;}

.hook {border: 3px solid #000; 
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;}

.facts1, .facts2 {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        background-color: #f0f0f0; /* Add background color to the container */
        padding: 20px; /* Add some padding to the container */}
      
.facts1 > div, .facts2 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white; /* Add background color to the individual boxes */
        padding: 20px; /* Add some padding to the individual boxes */
        border-radius: 8px; /* Add some rounded corners to the boxes */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

.facts1 img, .facts2 img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;}
      
.factsdes, .currencydes, .templedes {
        margin: 0;}

.footer {background-color: #827fb4;
    color: #fbfbfb;
    text-align: center;
    padding: 10px;}

@media (max-width: 900px) {
        h1 {
          font-size: large;
        }
      
        nav {
          font-size: 1em;
          margin: 5px;
          padding: 5px;
        }
      
        .bigtitle {
          font-size: 1.5em;
          line-height: 1.2;
        }
      
        .first {
          flex-direction: column;
        }
      
        .first img {
          max-width: 100%;
          height: auto;
          margin: 10px 0;
        }
      
        .row1 {
          flex-direction: column;
          margin: 50px 20px;
        }
      
        .locationtw {
          margin-right: 0;
          margin-bottom: 20px;
        }
      
        .locationtw img {
          max-width: 100%;
        }
      
        .facts1,
        .facts2 {
          grid-template-columns: 1fr;
          margin: 20px;
        }
      }

